#container {
  margin: auto;
  width: 600px;
  height: 400px;
}

#inner {
  margin: auto;
  height: 450px;
  padding-top: 5%;
  padding-left: 35%;
}

#inner {
  background-color: white !important;
}

body {
  background-color: #3490C4 !important;
}
