@font-face {
  font-family: lobster;
  src: url('http://fonts.googleapis.com/css?family=Lobster&subset=all');
}

#container {
  margin: auto;
  width: 600px;
  height: 400px;
}

#inner {
  margin: auto;
  height: 450px;
  padding-top: 5%;
  padding-left: 22%;
  background-color: white !important;
}

#bottom {
  height: 200px;
}

#native-words {
  padding-left: 45%;
  padding-top: 5%;
  font-size: 50px;
  color: white !important;
}

#logo {
  font-family: lobster;
  font-size: 150px;
}

#logo, #inner {
  display: inline-block;
}

@media (max-width: 800px) {
  #native-words {
    padding-right: 40%;
  }
}

body {
  background-color: #3490C4 !important;
}
