#container {
  margin: auto;
  width: 600px;
  height: 400px;
}

#inner {
  margin: auto;
  height: 450px;
  padding-top: 10%;
  padding-left: 36%;
  background-color: white !important;
}

#bottom {
  height: 200px;
}

#logo {
	font-family: Lobster;
  font-size: 200px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  margin-top: 200px;
  padding-left: 27%;
}

#native-words {
  position: static;
  margin-top: 200px;
  font-size: 50px;
  color: white !important;
}

@media (max-width: 800px) {
  #native-words {
    padding-right: 40%;
  }
}

#lang, #trans {
  display: inline-block;
}

button {
  margin-left: 250px;
}

#trans {
  padding-left: 100px;
}

body {
  background-color: #3490C4 !important;
}
